//background-colors
$purple-bg: linear-gradient(to right, #3d7eaa, #ffe47a);
$black-bg: #272727;
$white-bg: #fff;
$blue-bg: #29b6cf;
$orange-text: #ffbb00;

// Text
$blue-text: #29b6cf;
$black-text: #272727;
$white-text: #fff;

// Fonts
$font: 'Neco one', italic;

//gup-size
$gutter: 4rem;

//size-for-text
$gutter-bigText: 2rem;
